### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
data_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
heroes_df = pd.read_csv(data_file)

heroes_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [4]:
total_players = len(heroes_df["SN"].value_counts())
total_players

player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
unique_items = len(heroes_df["Item Name"].unique())
avg_price = heroes_df["Price"].mean()
total_purchases = heroes_df["Purchase ID"].count()
total_revenue = heroes_df["Price"].sum()

purchase_analysis = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price":[avg_price], "Total Purchases":[total_purchases], "Total Revenue":[total_revenue]})
purchase_analysis

   Number of Unique Items  Average Price  Total Purchases  Total Revenue
0                     179       3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
gender = heroes_df["SN"].nunique()
gender_male = heroes_df[heroes_df["Gender"] == "Male"]["SN"].nunique()
gender_female = heroes_df[heroes_df["Gender"] == "Female"]["SN"].nunique()
gender_non = gender - gender_male - gender_female

male_percent = (gender_male/gender)*100
female_percent = (gender_female/gender)*100
non_percent = (gender_non/gender)*100

gender_demographics = pd.DataFrame({"Gender":["Male", "Female","Other/Non-Disclosed"], "Total Count":[gender_male, gender_female, gender_non], "Percent of Total Players":[male_percent, female_percent, non_percent]})

gender_demographics.set_index("Gender")

                     Total Count  Percent of Total Players
Gender
Male                         484                 84.027778
Female                        81                 14.062500
Other/Non-Disclosed           11                  1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
male_purchase = heroes_df[heroes_df["Gender"] == "Male"]["Price"].count()
female_purchase = heroes_df[heroes_df["Gender"] == "Female"]["Price"].count()
non_purchase = total_purchases - male_purchase - female_purchase

male_avg = heroes_df[heroes_df["Gender"] == "Male"]["Price"].mean()
female_avg = heroes_df[heroes_df["Gender"] == "Female"]["Price"].mean()
non_avg = avg_price - male_avg - female_avg

male_total = heroes_df[heroes_df["Gender"] == "Male"]["Price"].sum()
female_total = heroes_df[heroes_df["Gender"] == "Female"]["Price"].sum()
non_total = total_purchases - male_purchase - female_purchase

gender_purchase = pd.DataFrame({"Gender":["Male", "Female", "Other/Non-Disclosed"], "Purchase Count":[male_purchase, female_purchase, non_purchase], "Average Purchase Price":[male_avg, female_avg, non_avg], "Purchase Total":[male_total, female_total, non_total]})
gender_purchase.set_index("Gender")

                     Purchase Count  Average Purchase Price  Purchase Total
Gender
Male                            652                3.017853         1967.64
Female                          113                3.203009          361.94
Other/Non-Disclosed              15               -3.169874           15.00

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 9999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

heroes_df["Age Groups"] = pd.cut(heroes_df["Age"], age_bins, labels=group_names)

age_groups = heroes_df.groupby("Age Groups")

total_age = age_groups["SN"].nunique()

age_percent = (total_age/total_players)*100

age_demographic = pd.DataFrame ({"Total Count":[total_age], "Percentage of Player":[age_percent]})
age_demographic

,Total Count,Percentage of Player
0,Age Groups <10 17 10-14 22 15-19 ...,Age Groups <10 2.951389 10-14 3.8194...

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 9999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

heroes_df("Age Group") = pd.cut(heroes_df("Age"), bins, labels=group_names, include_lowest=False)
heroes_df

age_purchase = age_groups["Purchase ID"].count()
age_avg_price = age_groups["Price"].mean()
age_per_person = age_purchase/total_age
age_total_purchase = age_groups["Price"].sum()

age_purchase_demo = pd.DataFrame({"Purchase Count": [age_purchase],
"Average Purchase Price":[age_avg_price], 
"Total Purchase Value":[age_total_purchase]})
age_purchase_demo.max()

SyntaxError: can't assign to function call (<ipython-input-13-dce08f195f5b>, line 4)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
spending = heroes_df.groupby("SN")

spending_purchase_count = spending["Purchase ID"].count()
 
spending_avg_purchase = spending["Price"].mean()

spending_total = spending["Price"].sum()

top_spenders = pd.DataFrame({"Purchase Count": spending_purchase_count,
                             "Average Purchase Price": spending_avg_purchase,
                             "Total Purchase Value":spending_total})

formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
formatted_spenders

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [24]:
items = heroes_df[["Item ID", "Item Name", "Price"]]
item_stats = items.groupby(["Item ID","Item Name"])

item_purchase_count = item_stats["Price"].count()
item_total_value = item_stats["Price"].sum()
item_price = item_total_value/item_purchase_count

popular_items = pd.DataFrame({"Purchase Count": [item_purchase_count], 
                              "Item Price":[item_price], 
                              "Total Purchase Value":[item_total_value]})

popular_items_formatted = popular_items.sort_values(["Purchase Count"], ascending=False).head()
popular_items_formatted

,Purchase Count,Item Price,Total Purchase Value
0,Item ID Item Name ...,Item ID Item Name ...,Item ID Item Name ...

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [22]:
most_profitable = popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

In [23]:
most_profitable

,Purchase Count,Item Price,Total Purchase Value
0,Item ID Item Name ...,Item ID Item Name ...,Item ID Item Name ...